<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee add</title>
</head>
<body>
<form action ='/saveemptodb' method="POST">
    <table>
        <tr><td>Enter the name</td><td><input type="text" name="ename"></td></tr>
        <tr><td>Enter the Salary</td><td><input type="number" name="esalary"></td></tr>
        <tr><td>Enter the Email</td><td><input type="text" name="eemail"></td></tr>
        <tr><td>Enter the DOJ</td><td><input type="Date" name="eDOJ"></td></tr>
        <tr><td>Enter the DepartmentID</td><td><input type="number" name="edeptID"></td></tr>
        <tr><td>Enter the Location</td><td><input type="text" name="elocation"></td></tr>
        <tr><td>Enter the Gender</td><td><input type="text" name="egender"></td></tr>
        <tr><td><input type="Submit" name="Save"></td></tr>

    </table>

</form>
</body>
</html>
